/*Importamos nuestra fuente personalizada*/

@font-face {
  font-family: "Sega";
  src: url("../fonts/SEGA.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Reseteamos los margins y los padding que ponen por defecto los navegadores */

* {
  margin: 0px;
  padding: 0px;
}

/*Inicio de los estilos de la cabecera.*/

#header {
  display: flex;
  height: 102px;
  align-items: center;
  justify-content: center;
  background: url("../assets/img/controller.jpg") repeat;
  background-size: 35px;
}

/*Fin de los estilos de la cabecera*/

/*Inicio de los estilos del contenido principal*/

#main {
  width: 100%;
  height: 580px;
}

#main #title {
  font-family: "Sega";
  font-size: 33px;
  color: #5584ac;
  text-shadow: 4px 4px white;
  font-weight: bold;
  text-align: center;
}

#main #menu {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

#main #menu select {
  margin-right: 15px;
}

#main #menu input {
  margin: 5px;
  width: 75px;
  height: 40px;
  background: #5584ac;
  padding: 5px;
  font-weight: bold;
  color: #333;
}

#main #menu input:hover {
  background-color: #333;
  color: #5584ac;
}

#playground {
  width: 1750px;
  height: 444px;
  background: url("../assets/img/track.jpg") no-repeat;
  background-size: 100%;
}

/* A cada coche se le ha asignado la clase "player", usamos display:block para colocarlos uno debajo de otro
 y le añado un margin-left de 185px para que cuadre con la imágen de la carretera */
.player {
  width: 97px;
  display: block;
  margin-left: 185px;
}

/*Fin de los estilos del contenido principal*/

/*Inicio de los estilos de la tabla de posiciones*/
#table {
  height: 430px;
  width: 320px;
  border-collapse: collapse;
  background-color: #5584ac;
  float: right;
  margin: 23px 25px 0px 0px;
}

#table tr,
th,
td {
  border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#table thead .title {
  padding: 5px;
  font-weight: bold;
  background-color: whitesmoke;
  color: red;
}

#table th {
  background-color: #5584ac;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

#table td {
  background-color: #333;
  color: #5584ac;
}

/*Fin de los estilos de la tabla de posiciones*/

/*Inicio de los estilos del pié de página*/

#footer {
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-image: url("../assets/img/megadrive.png");
}

#footer #copyright {
  font-family: "Sega";
  font-size: 20px;
  font-weight: bold;
  color: #5584ac;
}

/*Fin de los estilos del pié de página*/
